.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-container{
  height: fit-content;
  width: fit-content;
  border: black 2px solid;
}

.space-card{
  height: fit-content;
  width: fit-content;
  border: black 2px solid;
}