.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19547b;
}

.space-container{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-card{
  height: fit-content;
  width: 60%;
  margin: 16px;
  padding: 8px;
  border: #19547bb2 2px solid;
  border-radius: 8px;
  background-color: #ffd89b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card-title{

}
.card-date{
  margin-top: -16px;
}
.card-explanation{
  margin-top: 24px;
}
.card-image{
  max-width: 99.5%;
  height: fit-content;
  border-radius: 8px;
}

.like-button{
  background-color: transparent;
  border: transparent;
}
.liked{
  color: red;
  width: 32px;
  height: 32px;
}
.not-liked{
  width: 32px;
  height: 32px;
}